.section {
  padding-top: var(--space-4xl);
  padding-bottom: var(--space-4xl);
}

@media (min-width: 768px) {
  .section {
    padding-top: var(--space-5xl);
    padding-bottom: var(--space-5xl);
  }
}
